<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="three_link_arm">

  <xacro:property name="pi" value="3.14159265359"/>

  <!-- ===== MATERIALS (for RViz) ===== -->
  <material name="gray">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>
  <material name="blue">
    <color rgba="0.0 0.0 1.0 1.0"/>
  </material>
  <material name="red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>
  <material name="green">
    <color rgba="0.0 1.0 0.0 1.0"/>
  </material>
  <material name="yellow">
    <color rgba="1.0 1.0 0.0 1.0"/>
  </material>

  <!-- ===== WORLD + FIXED BASE ===== -->
  <link name="world"/>

    <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}"/>
      <mass value="5.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}"/>
      <geometry>
        <mesh filename="package://arm_sim/meshes/base.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}"/>
      <geometry>
        <mesh filename="package://arm_sim/meshes/base.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- FIRST joint: fixed (anchors base to the world) -->
  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="-0.05 -0.05 0" rpy="0 0 0"/>
  </joint>

  <!-- ===== LINK 1 ===== -->
  <link name="link1">
    <inertial>
      <origin xyz="-0.01 -0.013 -0.01" rpy="0 0 0"/>
      <mass value="1.5"/>
      <inertia ixx="0.05" ixy="0.0" ixz="0.0" iyy="0.05" iyz="0.0" izz="0.01"/>
    </inertial>
    <visual>
      <origin xyz="-0.01 -0.013 -0.01" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://arm_sim/meshes/link.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="-0.01 -0.013 -0.01" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://arm_sim/meshes/link.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- SECOND joint: REVOLUTE -->
  <joint name="joint1" type="revolute">
    <parent link="base_link"/>
    <child link="link1"/>
    <origin xyz="0.05 0.05 0.061" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="${-pi/2}" upper="${pi/2}" effort="10.0" velocity="1.0"/>
    <dynamics damping="0.1" friction="0.1"/>
  </joint>

  <!-- ===== LINK 2 ===== -->
  <link name="link2">
    <inertial>
      <origin xyz="-0.01 -0.013 -0.01" rpy="0 0 0"/>
      <mass value="1.5"/>
      <inertia ixx="0.05" ixy="0.0" ixz="0.0" iyy="0.05" iyz="0.0" izz="0.01"/>
    </inertial>
    <visual>
      <origin xyz="-0.01 -0.013 -0.01" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://arm_sim/meshes/link.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <origin xyz="-0.01 -0.013 -0.01" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://arm_sim/meshes/link.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- THIRD joint: REVOLUTE -->
  <joint name="joint2" type="revolute">
    <parent link="link1"/>
    <child link="link2"/>
    <origin xyz="0 0 0.061" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="${-pi/2}" upper="${pi/2}" effort="10.0" velocity="1.0"/>
    <dynamics damping="0.1" friction="0.1"/>
  </joint>

  <!-- ===== LINK 3 ===== -->
  <link name="link3">
    <inertial>
      <origin xyz="-0.01 -0.013 -0.01" rpy="0 0 0"/>
      <mass value="1.5"/>
      <inertia ixx="0.05" ixy="0.0" ixz="0.0" iyy="0.05" iyz="0.0" izz="0.01"/>
    </inertial>
    <visual>
      <origin xyz="-0.01 -0.013 -0.01" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://arm_sim/meshes/link.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="green"/>
    </visual>
    <collision>
      <origin xyz="-0.01 -0.013 -0.01" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://arm_sim/meshes/link.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- THIRD joint: REVOLUTE -->
  <joint name="joint3" type="revolute">
    <parent link="link2"/>
    <child link="link3"/>
    <origin xyz="0 0 0.061" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="${-pi/2}" upper="${pi/2}" effort="10.0" velocity="1.0"/>
    <dynamics damping="0.1" friction="0.1"/>
  </joint>

  <!-- ===== gripper ===== -->
  <link name="gripper">
    <inertial>
      <origin xyz="-0.01 -0.013 -0.01" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="0.0333" ixy="0.0" ixz="0.0" iyy="0.0333" iyz="0.0" izz="0.006667"/>
    </inertial>
    <visual>
      <origin xyz="-0.01 -0.013 -0.01" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://arm_sim/meshes/gripper.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="green"/>
    </visual>
    <collision>
      <origin xyz="-0.01 -0.013 -0.01" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://arm_sim/meshes/gripper.STL" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- THIRD joint: REVOLUTE -->
  <joint name="gripper_joint" type="revolute">
    <parent link="link3"/>
    <child link="gripper"/>
    <origin xyz="0 0 0.061" rpy="0 ${-pi/2} 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="${-pi/2}" upper="${pi/2}" effort="10.0" velocity="1.0"/>
    <dynamics damping="0.1" friction="0.1"/>
  </joint>

  <!-- ===== ros2_control: declares joint's interfaces ===== -->
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>

    <joint name="joint1">
      <command_interface name="position">
        <param name="min">${-pi/2}</param>
        <param name="max">${pi/2}</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint2">
      <command_interface name="position">
        <param name="min">${-pi/2}</param>
        <param name="max">${pi/2}</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint3">
      <command_interface name="position">
        <param name="min">${-pi/2}</param>
        <param name="max">${pi/2}</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="gripper_joint">
      <command_interface name="position">
        <param name="min">${-pi/2}</param>
        <param name="max">${pi/2}</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>

  <!-- ===== Gazebo plugin: starts controller_manager, loads the yaml ===== -->
  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find arm_sim)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>

  <!-- ===== Gazebo colors ===== -->
  <gazebo reference="base_link">
    <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="link1">
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="link2">
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="link3">
    <material>Gazebo/Green</material>
  </gazebo>
  <gazebo reference="gripper">
    <material>Gazebo/Yellow</material>
  </gazebo>

</robot>